*{
    box-sizing: border-box;
    
}

body {
    width: auto;

}

.baslik{
    text-align: center;
    font-size: 50px;
    
}

.res {
    margin: 5px 50px 5px 180px;

}

.res img {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 35px;
    opacity: 0.8;
    
}

.res img:hover {
    opacity: 1;
    
}